.html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-100 text-gray-900 font-sans;
}

/* Custom Scrollbar */
/* Width of scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}